{% extends 'layout.html.twig' %}
{% block body %}
{{ parent() }}
<div class="main container">
	 <div class="row well" 
		<div class="col-md-6">
			<div class="page-header margin-none">
				<h2 class="padding-none">New User</h2>
			</div>
			{{ form_start(form, {'attr' : {'novalidate':'novalidate','role':'form'}}) }}
			<div class="form-group">
				{{ form_label(form.userName) }}
				{{ form_widget(form.userName,{'attr' : {
				    'class' : 'form-control',
				    'placeholder' :'Nombre Usuario'} })
				 }}
				 <span class="text-danger">{{ form_errors(form.userName) }}</span>
			</div>
			<p>
		      {{ form_widget(form.save, {'label' : 'Create user', 'attr': {'class': 'btn btn-success'}}) }} </p>                	
			{{ form_end(form) }}
	  </div>
</div>	
{% endblock %}